@import "tailwindcss";

@theme {
  --font-sans: "Kantumruy Pro", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    font-family: 'Kantumruy Pro', sans-serif;
    background-color: #f8fafc;
    -webkit-tap-highlight-color: transparent;
}

.custom-scroll::-webkit-scrollbar { 
    width: 5px; 
    height: 5px;
}
.custom-scroll::-webkit-scrollbar-thumb { 
    background: #cbd5e1; 
    border-radius: 10px; 
}
.custom-scroll::-webkit-scrollbar-track { 
    background: transparent; 
}
